<!DOCTYPE html>
<html lang="en" ng-app = "Qsystem" >
<head>
	<title>VexconQ</title>
	<base href="/"></base>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<!-- <meta name="apple-mobile-web-app-status-bar-style" content="black"> -->
	<!-- <meta name="viewport" content="width=device-width, initial-scale=100%"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=yes">-->
	<link rel="shortcut icon" href="images/favicon.png">
    <link href="stylesheets/sbadmintheme/css/style-override.css" rel="stylesheet">
	<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link href="stylesheets/sbadmintheme/css/sb-admin.css" rel="stylesheet">
    <link href="stylesheets/sbadmintheme/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/bootstrap-select/dist/css/bootstrap-select.min.css">

	<link href='/jquery-ui/themes/base/jquery-ui.css' rel='stylesheet' type='text/css' />
	<link href='stylesheets/loginForm.css' rel='stylesheet' type='text/css' />
	<link href='stylesheets/quelogin.css' rel='stylesheet' type='text/css' />
	<link href='stylesheets/spinners.css' rel='stylesheet' type='text/css' />
	<link href='stylesheets/quelist.css' rel='stylesheet' type='text/css' />
    <link href='stylesheets/reports.css' rel='stylesheet' type='text/css' />
	<link href="stylesheets/colorbox.css" rel="stylesheet" type="text/css" />
	<link href='stylesheets/print.css' rel='stylesheet' type='text/css' />
	<link href="stylesheets/simpletextrotator.css" rel="stylesheet" type="text/css" />
	<link href="javascripts/assets/animate.css" rel="stylesheet" type="text/css" media="screen">
	<link href="javascripts/jqwidgets-ver4.1.2/jqwidgets/style/jqx.base.css" type="text/css"/>
	<link href="javascripts/jqwidgets-ver4.1.2/jqwidgets/style/jqx.arctic.css" type="text/css"/>
	<link rel="stylesheet" href="../bower_components/angular-ui-clock/dist/angular-clock.css">
	<link href='//fonts.googleapis.com/css?family=Syncopate:400,700' rel='stylesheet' type='text/css'>

</head>
