@charset "UTF-8";
@font-face{
font-family: din_light;
src: url(../font/DIN/FF_DIN_Light.otf);
}
@font-face{
font-family: din_bold;
src: url(../font/DIN/FF_DIN_Bold.otf);
}
@font-face{
font-family: din_reg;
src: url(../font/DIN/FF_DIN_Regular.otf);
}
@font-face{
font-family: bigjohn;
src: url(../font/BIGJOHN.otf);
}
@font-face{
font-family: slimjoe;
src: url(../font/SlimJoe.otf);
}
