<div class="modal-header">
    <h3 class="modal-title"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{modalTitle}}</h3>
</div>				
<div class="modal-body" id="modalbody" >					

<div class="alert alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <i class="fa fa-info-circle"></i>  <strong>Note: </strong> Please copy the following information. You cannot retrieve this info once this form is closed.
</div>				

<h3>USERNAME : {{usernameTemp}}</h3>
<h3>PASSWORD : {{passwordTemp}}</h3>
                        
                   
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel();">CLOSE</button>
</div>