	<div class="modal-header" >
        <h3 class="modal-title">Select Counter and Transaction</h3>
    </div>
	<div class="modal-body" ng-init = "getStatus();">
		<form role="form">
	    <div class="form-group">
		  	<label for="counter">COUNTER NUMBER:</label>
	        <select name="counter" class="form-control" id="counter" ng-model = 'newCounter' required>
	        	<option value="">-- SELECT --</option>	
			  	<option ng-repeat="item in counters" value="{{item.counter_number}}"  ng-disabled="item.disabled == 'disabled'">{{item.counter_number}} {{item.mysit}}</option>
			</select>
		</div>
	    
	    <div class="form-group">
		  	<label for="transaction">ACCEPTING:</label>
	        <select name="transaction" class="form-control" id="transaction" ng-model = 'newTransaction' required>
	        	 <option value="">-- SELECT --</option>	 
		 		 <option ng-repeat = "service in services" value="{{service.id}}">{{service.service}}</option>
			</select>
		</div>
	    </form>

    </div> 
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="changeCounter()">SAVE</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">CANCEL</button>
    </div>



