	<div class="modal-header">
        <h3 class="modal-title">SKIP NUMBER</h3>
    </div>
	<div class="popupjumps">
	<div class="number">ENTER THE SKIPPED NUMBER:</div>
		<input ng-model = "skippednumber" name="skip" type="text" class="numbsf" id="skip">
	</div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="jump()">OK</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">CANCEL</button>
    </div>
