<style>
.flat {
    border-radius:0px !important;
    background-color:#0066CC;
    height:150px !important; padding-top:30px !important;
}
.big-font{
	font-size:37px !important;
}
.reportbuttons a {
    display: block;
    background: #0866c6;
    color: #fff;
    text-align: center;
    height: 100%;
    border: 0;
    /*border-bottom: 2px solid #004d99;*/
    cursor: pointer;
   /* -webkit-box-shadow: inset 0 -2px #004d99;
    box-shadow: inset 0 -2px #004d99;*/
   
   padding-left:5px;
   padding-right:5px;
}

.reportbuttons a:hover,
.reportbuttons a:focus {
	color:white !important;
	text-decoration:none !important;
	/*background-color:#0073e6 !important;
	/*border-right:5px solid #0866c6;*/
}

.reportbuttons a:active{
	border-top: 1px solid white;
  	outline: none;
  	-webkit-box-shadow: none;
  	box-shadow: none;
}

.light-red:hover, .light-red:focus{
    background-color: #FB6648 !important;
}

.blue:hover, .blue:focus{
    background: #28ABE3 !important;
}
.blue-green:hover, .blue-green:focus{
    background: #0ECEAB !important;
}

.light-orange:hover, .light-orange:focus{
    background: #FA6900 !important;
}

.light-green:hover, .light-green:focus{
    background: #72bf48 !important;
}

@media screen and (min-width: 768px) {
	.modal-dialog  {width:900px;}
}
.modal-dialog  {width:95%;}
</style>

<ul class="breadcrumbs">
    <li><a ><i class="iconfa-home"></i></a> <span class="separator"></span></li>
    <li></li>
</ul>
	<div class="row">
        <div class="col-lg-12">
            <div class="form-group input-group" style="margin-bottom:6px !important;">
		         <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
		         <input dateelem ng-model = 'dateFrom' type="text" name="fromyear" value="" placeholder="FROM" class="form-control fromthisyear fromthisyearpicker">
			</div>
			<div class="form-group input-group">
		         <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
				 <input dateelem ng-model = 'dateTo' type="text" name="toyear" value="" placeholder="TO" class="form-control tothisyear" >
		    </div>
        </div>
    </div>
			<div class="row reportbuttons">
				<div class="col-lg-6">
					<div class="panel panel-primary">
						<div class="panel-heading">
					    	<h3 class="panel-title"><i class="fa fa-list-alt"></i>  TABULATED REPORTS</h3> 
						</div>
						<div class="panel-body">
							
							<div class="row">
								<div class="col-sm-12">
									<div class="panel panel-default">
										<a class="flat light-green" ng-click="open('lg', 'partials/report_table.html', 'table')"><span class="fa fa-table fa-3x" aria-hidden="true"></span><br><br> DAILY TRANSACTIONS</a>
									</div>
								</div>
							</div>
							
						</div>
					</div>
					
					<div class="panel panel-primary">
						<div class="panel-heading">
							  <h3 class="panel-title"><i class="fa fa-list-alt"></i>  GRAPHICAL REPORTS PER YEAR</h3> 
						</div>
						<div class="panel-body">
							<div class="form-group input-group" >
		                    	<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
		                    	<div year-drop></div>
		                    </div>
							
							<div class="row">
								<div class="col-sm-6">
									<div class="panel panel-default">
										<a class="flat light-green" ng-click="openPerYear('lg', 'partials/report_chart.html', 'monthlyPercentage');"><span class="fa fa-percent fa-3x" aria-hidden="true"></span><br><br> MONTHLY PERCENTAGE PER SERVICE</a>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="panel panel-default">
										<a class="flat blue-green" ng-click="openPerYear('lg', 'partials/report_chart.html', 'monthlyAverage');"><span class="fa fa-bar-chart-o fa-3x" aria-hidden="true"></span><br><br> MONTHLY AVERAGE SERVICE TIME </a>
									</div>
								</div>
							</div>
						</div>
					</div>	
				</div>	

				<div class="col-lg-6">
					<div class="panel panel-primary">
						<div class="panel-heading">
					    	<h3 class="panel-title"><i class="fa fa-list-alt"></i>  GRAPHICAL REPORTS</h3> 
						</div>
						<div class="panel-body">
							
		                    
							<div class="row">
								<div class="col-sm-12">
									<div class="panel panel-default">
										<a class="flat blue" ng-click="open('lg', 'partials/report_chart.html', 'percentage');">
											<span class="fa fa-percent fa-3x" aria-hidden="true"></span>
											<br><br> 
											PERCENTAGE PER SERVICE
										</a>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-sm-6">
									<div class="panel panel-default">
										<a class="flat blue-green" ng-click="open('lg', 'partials/report_chart.html', 'averageServiceTime');"><span class="fa fa-bar-chart-o fa-3x" aria-hidden="true"></span><br><br> AVERAGE SERVICE TIME </a>
									</div>
								</div>
								
								<div class="col-sm-6">
									<div class="panel panel-default">
										<a class="flat light-red" ng-click="open('lg', 'partials/report_chart.html', 'timePerAgent');"><span class="fa fa-clock-o fa-3x" aria-hidden="true"></span><br><br> AVERAGE SERVICE TIME ( BY AGENT )</a>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-sm-12">
									<div class="panel panel-default">
										<a class="flat light-orange" ng-click="open('lg', 'partials/report_chart.html', 'clientPerDate');"><span class="fa fa-calendar-check-o fa-3x" aria-hidden="true"></span><br><br> CLIENTS PER DATE</a>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-sm-6">
									<div class="panel panel-default">
										<a class="flat blue-green" ng-click="open('lg', 'partials/report_chart.html', 'clientPerHour');"><span class="fa fa-hourglass-end fa-3x" aria-hidden="true"></span><br><br> CLIENTS BY HOUR</a>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="panel panel-default">
										<a class="flat light-green" ng-click="open('lg', 'partials/report_chart.html', 'clientPerWeekDay');"><span class="fa fa-calendar fa-3x" aria-hidden="true"></span><br><br> CLIENTS PER DAY</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>	
	
				
				<div class="row reportbuttons">
			        <div class="col-sm-12">
			        	
			        </div>
			    </div>	
			</div>